pymongo-amplidata
pymongo
psycopg2
Flask<=1.0.0
MarkupSafe==0.23
Werkzeug<=0.15.5
gunicorn==19.6.0
itsdangerous==0.24
requests==2.20.0
future>=0.16.0
certifi
urllib3
jsonSchema
twilio
dnspython
